@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

.dsm {
    background-color: rgba(245, 232, 208, 0.864);
}






.text{
    font-family: 'Aref Ruqaa', serif;
}
.hr{
    font-family: 'Aref Ruqaa', serif;
}